{{!-- user information handlebars --}}

<div class="divider"></div>
	<div class="section">
  	<ul class="collection with-header">
  		<li class="collection-header center-align">
  			<h5><img src="{{this.photo}}" class="circle responsive-img"> {{this.username}}</h5>
  		</li>
  		<li class="collection-item center-align">
  			User Id #: {{this.id}}
  		</li>
  		<li class="collection-item center-align">
  			E-mail: {{this.email}}
  		</li>
  		<li class="collection-item center center-align">
  			Play money in Bank: ${{this.play_money}}
  		</li>
  		<li class="collection-item center-align">
  			Bitcoin Money in Bank: ${{this.bit_coins}}
  		</li>
  	</ul>
  </div>
</div>

</div>
<div class="divider"></div>
	<div class="section">
		
	  <h5>Section 2</h5>
	  <p>Stuff</p>
	</div>
